body
{background-color: lavender;}

table, th, td {
border: 2px dotted black;
background-color: ;
font-size: 30px;
color: teal;

}

span1 {
color: teal;
font-size: 50px;
text-transform:uppercase;
}

span2 {
color: grey;
font-size: 35px;
text-transform:uppercase;
}

span3 {
color: black;
}